.communities {
  background-color: #d1ef53;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
}

.communities-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.communities h2 {
  color: #1e1e1e;
  font-family: Bowlby One;
  font-size: 55px;
  font-weight: 400;
  line-height: 56.04px;
  text-align: center;
}

.communities-images {
  display: flex;
  gap: 20px;
}

.communities img {
  height: 100px;
  mix-blend-mode: darken;
}

@media screen and (max-width: 768px) {
  .communities h2{
    font-size: 40px;
  }

  .communities{
    margin: 0 20px;
  }

  .communities-images img{
    height: 80px;
  }
}

@media screen and (max-width: 480px) {
  .communities h2{
    font-size: 20px;
    line-height: 20px;
  }

  .communities{
    margin: 0 20px;
    padding: 20px;
  }

  .communities-images img{
    height: 40px;
  }
}