.certifications-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.certifications {
  min-width: 1000px;
  background-color: #e9e3dc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
}

.certifications h3 {
  font-family: Bowlby One;
  font-size: 55px;
  font-weight: 400;
  line-height: 56.04px;
  text-align: center;
  color: #c76526;
  margin: 20px;
}

.certifications ul {
  list-style: none;
  padding: 0;
}

.certifications p {
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 40.5px;
  text-align: justified;
  color: #1e1e1e;
  margin: 0;
}

.certifications span {
  color: #c76526;
  font-weight: 450;
}

@media screen and (max-width: 768px) {
  .certifications h3 {
    font-size: 40px;
  }

  .certifications {
    margin: 0 50px;
    min-width: 400px;
    width: max-content;
  }

  .certifications p {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  .certifications h3 {
    font-size: 20px;
  }

  .certifications {
    margin: 0 50px;
    min-width: 150px;
  }

  .certifications p {
    font-size: 10px;
    font-weight: 600;
    line-height: 2px;
  }
}